* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.cabecalho{
    width: 100%;
    height: 20%;
}

.principal{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
   
}

.gif {
    width: 50%;
    height: 70%;
    background-image: url('../imagem/trick-or-treat-halloween.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.parabens{
    width: 30%;
    height: 30%;
    margin-top: 5%;
    color:yellow;
    font-family: 'Ninja Naruto', sans-serif;
    font-size: 50px;
    text-align: center;
}

.animationContent::after{
    content:'';
    animation: parabens 3s linear infinite;

}

@keyframes parabens{
    0% {content: 'CONGRATS'; }
    50% {content: '';}
    60% {content: 'FIM DE JOGO'; color: red;}
}
