* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo{
    width: 100%;
    height: 100vh;
    background-color: #e9e8e6;
    
 
}

.cabecalho {
    width: 100%;
    height: 20%;

}

.principal{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    background-image: url('/imagem/giphy\ \(1\).gif');
    background-size: contain;
    background-position-x:10%;
    background-position-y:center;
    background-repeat: no-repeat;
}

.alinha{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.texto{
    width: 80%;
    height: 60%;
    display: flex;
    color: honeydew;
    font-size: 2em;
    text-indent: 1.3em;
    text-align: justify;
    background-color: #eab321;
    padding: 1%;
}

.enigma{
    text-transform: uppercase;
    background: none;
    width: 80%;
    height: 15%;
    color: #937cb0; 
    font-size: 40px;
    box-shadow: none;
    border: none;
    font-family: 'Ninja Naruto', sans-serif;
}

.enigma:hover{
    color: white;
    cursor: pointer;
}